body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Box{
  display: flex;
  padding-top: 5rem;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  justify-content: space-between;
}

.BoxLeft{
  display: flex;
  border: 1px solid red;
  width: 250px;
  margin-left: 20rem;
  margin-bottom: 10rem;
  flex-direction: column;
}
    .MenuItem{
      border-top: 1px solid orangered;
      font-size: 24pt;
    }

.BoxRight{
  display: flex;
  border: 1px solid red;
  width: 1000px;
  margin-right: 10rem;
}